$primary-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
@media (min-width: 1024px){
    .fonctionnement{
        width: 75vw;
        padding-left: 12vw;
    }
    .restaurants-card{
        width: 75vw;
        padding-left: 12vw;
        gap: 30px;
    }
    .restaurants-titre{
        padding-left: 12vw;
    }
    .restaurants{
        img{
            height: 13vw;
        }
    }
    footer{
        div{
            margin-right: 30px;
        }
    }

    // pour les pages restaurants
    main{
        max-width: 70%;
        margin-left: 15%;
        section{
            max-width: 60%;
            margin-left: 20%;
        }
    }
}