$primary-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;

@mixin box-shadow{
    box-shadow:
    0px 0.6px 2.2px rgba(0, 0, 0, 0.037),
    0px 1.3px 5.3px rgba(0, 0, 0, 0.053),
    0px 2.5px 10px rgba(0, 0, 0, 0.065),
    0px 4.5px 17.9px rgba(0, 0, 0, 0.077);
}

@font-face {
    font-family: Shrikhand;
    src: url(../fonts/Shrikhand-Regular.ttf);
    font-weight: normal;
}

*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    img{
        width: 162px;
    }
}

.photo img{
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.main-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    i{
        padding-top: 20px;
    }
}

h1, .shrikhand{
    font-family: Shrikhand;
}

main{
    position: relative;
    background-color: #F6F6F6;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -40px;
}

h2{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
    span{
        border-bottom: solid 3px $third-color;
        padding-bottom: 5px;
    }
}

article{
    @include box-shadow;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 15px;
    .card-txt{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-txt-right{
        display: flex;
        align-items: end;
    }
    h3{
        font-weight: 600;
        font-size: 18px;
        text-overflow: ellipsis;
        padding-top: 10px;
        padding-left: 10px;
    }
    p{
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
    }
    .prix{
        font-weight: 700;
    }
    .check{
        background-color: $third-color;
        width: 0%;
        color: white;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        .fa-circle-check{
            padding-bottom: 25px;
            padding-top: 25px;
        }
    }
}

.commander{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

button{
    @include box-shadow;
    margin-top: 15px;
    background: linear-gradient(to bottom, $second-color, $primary-color);
    color: white;
    padding: 20px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    transition: all;
        &:hover{
            background: linear-gradient(to bottom, lighten($second-color, 3%), lighten($primary-color, 3%));
            box-shadow:
                0px 0.9px 3.6px rgba(0, 0, 0, 0.07),
                0px 2.5px 10px rgba(0, 0, 0, 0.1),
                0px 6px 24.1px rgba(0, 0, 0, 0.13),
                0px 20px 80px rgba(0, 0, 0, 0.2);
        }
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #353535;
    color: white;
    h2{
        padding-bottom: 10px;
    }
}

section{
    opacity: 0;
}

.entrees{
    animation: apparition 1000ms 500ms forwards;
}

.plats{
    animation: apparition 1000ms 1000ms forwards;
}

.desserts{
    animation: apparition 1000ms 1500ms forwards;
}

@keyframes apparition{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}